In [2]:
import pandas as pd

In [7]:
dataset = pd.read_csv("../input/processed/customer_churn.csv")

In [8]:
dataset.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,target,InternetService_DSL,...,StreamingTV_Nointernetservice,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Nointernetservice,StreamingMovies_Yes,MultipleLines_No,MultipleLines_Nophoneservice,MultipleLines_Yes,IsFemale,kfold
0,0,0,0,27,1,1,19.60,561.15,0,0,...,1,0,0,1,0,1,0,0,1,0
1,0,0,0,6,0,1,63.40,348.80,0,1,...,0,1,0,0,1,0,1,0,1,0
2,0,1,1,29,1,0,75.55,2054.40,0,1,...,0,1,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,18.85,18.85,0,0,...,1,0,0,1,0,1,0,0,1,0
4,0,1,1,8,1,0,55.75,446.80,0,1,...,0,0,1,0,0,0,0,1,1,0

In [9]:
dataset.describe()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,target,InternetService_DSL,...,StreamingTV_Nointernetservice,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Nointernetservice,StreamingMovies_Yes,MultipleLines_No,MultipleLines_Nophoneservice,MultipleLines_Yes,IsFemale,kfold
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,...,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,0.483033,0.299588,32.371149,0.903166,0.592219,64.761692,2279.734304,0.265370,0.343746,...,0.216669,0.384353,0.395428,0.216669,0.387903,0.481329,0.096834,0.421837,0.495244,1.999574
std,0.368612,0.499748,0.458110,24.559481,0.295752,0.491457,30.090047,2266.794470,0.441561,0.474991,...,0.412004,0.486477,0.488977,0.412004,0.487307,0.499687,0.295752,0.493888,0.500013,1.414264
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,35.500000,398.550000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,70.350000,1394.550000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,89.850000,3786.600000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,3.000000
max,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,118.750000,8684.800000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

Check for null values in any of the columns. Also get a look at the dtypes of those columns

In [ ]:
for col in dataset.columns:
    print(pd.isnull(dataset[col]).value_counts())

Handy functionality, let's look for the different value counts of the raw values in each column to get an idea of what will have to be encoded

In [ ]:
for col in dataset.columns:
    print(dataset[col].value_counts())
    print()

# Actions

## Drop
- customerId 

## Map to Bool
- Male/Female (rename col)
- Partner 
- Dependents
- PhoneService
- PaperlessBilling

## Map to Categorical
- InternetService
- Contract
- PaymentMethod
- OnlineSecurity
- OnlineBackup
- DeviceProtection
- TechSupport
- StreamingTV
- StreamingMovies
- MultipleLines

# Try One Hot Encoding

In [ ]:
from sklearn import preprocessing

In [ ]:
ohe = preprocessing.OneHotEncoder(sparse=False)

In [ ]:
example = ohe.fit_transform(dataset["InternetService"].values.reshape(-1, 1))

In [ ]:
dataset["TechSupport"] = example

In [ ]:
example.shape

In [ ]:
example